<span style="width:65px;height:75px;float:left;vertical-align:middle;margin-top:15px;display:inline;">
	<a id="logo" href="/"><img src="/assets/logo.png" height="72px" /></a>
</span>
<div id="words" style="float:left;margin-top:15px;display:inline;">
	<a href="/"><img src="/assets/words.png" height="72px" /></a>
</div>
<div id="institution_heading" style="width:200px;display:inline;">
	<a href="/" class="institution_name" style="margin:0;"><%=t('sufia.product_name') %></a><br>
	<span style="color:white;font-family: 'Lato', Verdana, Arial, Helvetica;font-size: 1.5em;font-weight: 200;margin:0;padding:0;">
		Sufia&nbsp;Repository
	</span>
</div>
